<!-- resetPassword.ejs -->

<div class="reset-password-form">
  <form action="/resetPassword" method="POST">
    <label class="form-label" for="newPassword">New Password:</label>
    <input
      class="form-input"
      type="password"
      id="newPassword"
      name="newPassword"
      required
    />

    <label class="form-label" for="confirmPassword">Confirm Password:</label>
    <input
      class="form-input"
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      required
    />

    <button class="form-submit-btn" type="submit">Submit</button>
  </form>
</div>
